@import 'style.css';

body {
  background: black;	
}

form label{
 color: white;
}

h1 {
  visibility: hidden;	
}

h2 {
  color: azure;	
}

p {
  color: white;
}

header a{
  color: yellow;
}

footer p{
  color: blue;;
}

